* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f1f1f1;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 9px 20px;
    background: #ffffff;
    border-bottom: 1px solid #cacece;
}

.header__logo {
    height: 43px;
    width: 47px;
}

.header__text-group {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 17px;
}

.header__contact {
    text-align: center;
}

.header__text {
    font-family: 'DIN Pro';
    color: #adb4b5;
    font-size: calc(12px + .5vw);
}

.header__text_heading {
    font-weight: 600;
    color: #111111;
}

.header__text_numbers {
    color: #fda55e;
    font-weight: 400;
}

.header__timetable {
    text-align: center;
}

.header__timetable-logo {
    height: 15px;
    width: 15px;
}

.navigation {
    height: 72px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-top: 1px solid #cacece;
    column-gap: 42px;
    font-family: 'DIN Pro';
    font-weight: 600;
    color: #111111;
    font-size: calc(12px + .5vw);
    z-index: 10;
}

.navigation__btn {
    height: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    color: #111111;
}

.home_main {
    padding: 20px 10px;
}

.cards {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.cards__card {
    background-color: gray;
    padding: 10px;
    text-transform: capitalize;
    font-family: 'DIN Pro';
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    font-size: 24px;
}

.cards__card.cards__card_normal {
    height: 157px;
    width: 162px;
}

.cards__card.cards__card_wide {
    height: 146px;
    width: 334px;
    display: flex;
    align-items: flex-end;
}

.cards__card.cards__card_height-less {
    display: flex;
    align-items: flex-end;
    height: 134px;
    width: 162px;
}

.cards__card:nth-child(1) {
    background: url("./main/cards/cards__card_1.png") no-repeat center center;
    background-size: cover;
}

.cards__card:nth-child(2) {
    background: url("./main/cards/cards__card_2.png") no-repeat center center;
    background-size: cover;
}

.cards__card:nth-child(3) {
    background: url("./main/cards/cards__card_3.png") no-repeat center center;
    background-size: cover;
}

.cards__card:nth-child(4) {
    background: url("./main/cards/cards__card_4.png") no-repeat center center;
    background-size: cover;
}

.cards__card:nth-child(5) {
    background: url("./main/cards/cards__card_5.png") no-repeat center center;
    background-size: cover;
}

.cards__card:nth-child(6) {
    background: url("./main/cards/cards__card_6.png") no-repeat center center;
    background-size: cover;
}

.cards__card:nth-child(7) {
    background: url("./main/cards/cards__card_7.png") no-repeat center center;
    background-size: cover;
}

.cards__card:nth-child(8) {
    background: url("./main/cards/cards__card_8.png") no-repeat center center;
    background-size: cover;
}

.cards__card:nth-child(9) {
    background: url("./main/cards/cards__card_9.png") no-repeat center center;
    background-size: cover;
}

.cards__card:nth-child(10) {
    background: url("./main/cards/cards__card_10.png") no-repeat center center;
    background-size: cover;
}

.cards__card:nth-child(11) {
    background: url("./main/cards/cards__card_11.png") no-repeat center center;
    background-size: cover;
}

.cards__card:nth-child(12) {
    background: url("./main/cards/cards__card_12.png") no-repeat center center;
    background-size: cover;
}

.cards__card:nth-child(13) {
    background: url("./main/cards/cards__card_13.png") no-repeat center center;
    background-size: cover;
}

.cards__card_soon::after {
    content: 'Скоро';
    background: #ea5757;
    color: #ffffff;
    font-size: 10px;
    font-weight: 100;
    border-radius: 14px;
    padding: 2px 5px;
    position: relative;
    margin: 0 0 0 15px;
    text-transform: uppercase;
}

.description {
    width: 100%;
    min-height: 50vh;
    color: #a8afb0;
    font-family: 'DIN Pro';
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.description__headline {
    font-size: 24px;
    margin: 10px 0;
    font-weight: 700;
}

.description__text {
    font-size: 18px;
    font-weight: 400;
}

.description__button {
    display: flex;
    border: none;
    height: 134px;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    top: -102px;
    background: linear-gradient(180deg, rgba(242, 242, 242, 0) 0%, #F2F2F2 100%);
    font-size: 24px;
    color: #f39476;
    cursor: pointer;
}

.description__text_hidden {
    display: none;
}

.description__arrow-down {
    position: relative;
    top: -5px;
    right: -5px;
}

.footer {
    padding: 20px;
    text-align: center;
    font-family: 'DIN Pro';
    color: #A4ACAD;
    display: flex;
    flex-direction: column;
    row-gap: 31px;
    position: relative;
    top: -90px;
}

.footer__text {
    font-size: 18px;
    font-weight: 400;
}

.footer__soc-media-btn {
    cursor: pointer;
}


.footer__text_underline {
    text-decoration: underline;
}

.footer__contacts {
    font-size: 16px;
}

.footer__messengers-group {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}

@media screen and (min-width: 522px){
    .cards__card.cards__card_height-less, .cards__card.cards__card_wide {
        height: 157px;
    }
}



